@*Shows up on order page.
Buttons change if an order is shipped or not.*@

<table class="table table=sm table-striped table-bordered">

    <thead>
        <tr>
            <th colspan="5" class="text-center">@TableTitle</th>
        </tr>
    </thead>

    <tbody>
        @if (Carts?.Count() > 0)
            {
                @foreach (Cart c in Carts)
                {
                    <tr>
                        <td>@c.Name</td>
                        <td>@c.Zip</td>
                        <th>Book</th>
                        <th>Quantity</th>

                        <td>
                            <button class="btn btn-sm btn-danger" @onclick="@(x => OrderSelected.InvokeAsync(c.CartId))">
                                @ButtonLabel
                            </button>
                        </td>
                    </tr>

                    @foreach (BasketLineItem bli in c.Lines)
                    {
                        <tr>
                            <td colspan="2"></td>
                            <td>@bli.Book.Title</td>
                            <td>@bli.Quantity</td>
                        </tr>
                    }
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No Orders</td>
                </tr>
            }
    </tbody>
</table>

@code {

    [Parameter]
    public string TableTitle { get; set; } = "Orders";

    [Parameter]
    public IEnumerable<Cart> Carts { get; set; }

    [Parameter]
    public string ButtonLabel { get; set; } = "Shipped";

    [Parameter]
    public EventCallback<int> OrderSelected { get; set; }
}
