@{

}

@model Book

<div class="card" card-outline-primary m-1 p-1">
    <div class="bg-light p-1">
        <h4>@Model.Title</h4>

        <span class="badge bg-info" style="float:right">
            @Model.Category
        </span>
    </div>

    <ul>
        <li>Author: @Model.Author.</li>
        <li>Publisher: @Model.Publisher</li>
        <li>ISBN: @Model.Isbn</li>
        <li>Classification: @Model.Classification</li>
        <!--Or put category right here-->
        <li>PageCount: @Model.PageCount</li>
        <li>Price: @Model.Price</li>
    </ul>
</div>
<br />


